<!DOCTYPE html>
<head>
	<title>AngularJS - Passing data between controllers</title>
</head>
<body>

<div ng-app="myApp">

	<h1>Edit text in either input box below to see data shared between the 2 different controllers.</h1>
	
	<div ng-controller="FirstCtrl">
		<h2>First Controller</h2>
		<input type="text" ng-model="data.message" placeholder="type here...">
		<h4>1st Ctrl input text: {{data.message}}</h4>
	</div>
	<br>
	<div ng-controller="SecondCtrl">
		<h2>Second Controller</h2>
		<input type="text" ng-model="data.message" placeholder="or here...">
		<h4>2nd Ctrl input text: {{data.message}}</h4>
	</div>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
<script type="text/javascript" src="main.js"></script>

</body>
</html>